body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to left bottom, #0f011d, #300859, #4b0082);

  font-family: Arial, sans-serif;
  overflow: hidden;
}

.modal-content {
  position: relative;
  padding: 20px 4rem;
  border-radius: 8px;
  text-align: center;
  width: 60%;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: auto;
    scale: 1.7;
  }
}

.modal-content::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./assets/mehr-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  z-index: -1;
  filter: blur(2px);
}
@media screen and (min-width: 768px) {
  .modal-content::after {
    filter: blur(1px);
  }
}
.modal-content .modal-question {
  color: #fff;
  text-shadow: 0 0 5px #000;
}
.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 3px;
}

#noBtn {
  background-color: #ff4d4d;
  color: white;
  border: none;
}

#noBtn:hover {
  background-color: #e54343;
}

#yesBtn {
  background-color: #4caf50;
  color: white;
  border: none;
}

#yesBtn:hover {
  background-color: #439d46;
}

.right-img {
  position: absolute;
  right: -7%;
  bottom: 0;
  width: 40%;
  z-index: -2;
}

@media screen and (max-width: 768px) {
  .right-img {
    display: none;
  }
}

.left-img {
  position: absolute;
  left: 3%;
  bottom: -10%;
  width: 20%;
  z-index: -2;
}
@media screen and (max-width: 768px) {
  .left-img {
    width: 70%;
    bottom: 0;
    left: 16%;
    height: 100vh;
    object-fit: cover;
  }
}
